:root {
  --bg-lg01: linear-gradient(to right,
      rgba(76, 199, 237, 1) 10%,
      rgba(255, 255, 255, 1) 50%,
      rgba(76, 199, 237, 1) 100%);

  --en-light: #fff;
  --enr-dark: #000;

  --en-txt: #3d6cb9;

  --en-f: #00d1ff;
  --en-g: #00fff0;
  --en-h: #fafaf6;
  --en-i: #088816;
  --en-k: #8a7878;

  --en-lime: #01ff70;
  --en-green: #2ecc40;
  --en-silver: #dddddd;
  --en-gold: #ffdc00;
  --en-navy: #001f3f;
  --en-blue: #0074d9;
  --en-aqua: #7fdbff;
  --en-teal: #39cccc;

  --ff-ena: "Josefin Sans", sans-serif;
  --ff-enb: "Marck Script", cursive;
  --ff-enc: "Montserrat Alternates", sans-serif;
  --ff-en1: "Open Sans", sans-serif;
  --ff-en2: "Lato", sans-serif;
  --ff-en3: "Montserrat", sans-serif;
  --ff-en4: "Oswald", sans-serif;
  --ff-en5: "Raleway", sans-serif;

  --main-margin: 5vh;
  --main-radius: 7px;
  --main-padding: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--bg-lg01);
  font-family: var(--ff-en1);
}

h1 {
  text-transform: uppercase;
}

ul li {
  list-style: none;
}

/* --- GRID LAYOUT --- */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.7fr 0.2fr;
  grid-template-areas:
    "hed nav nav nav"
    "man man man man"
    "fut fut fut fut";
  grid-gap: 1rem;
  padding: 1em;
  margin: var(--main-margin);
  color: var(--en-txt);
  text-align: center;
}

header {
  background: var(--en-h);
  grid-area: hed;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-family: var(--ff-en3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

.nav-bar {
  grid-area: nav;
  background: var(--en-h);
  border-radius: var(--main-radius);
  text-transform: capitalize;
  font-family: var(--ff-ena);
  font-size: 1.2rem;
  font-weight: 900;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

main {
  grid-area: man;
  border-radius: var(--main-radius);
  font-family: var(--ff-en4);
  font-size: 0.7rem;
  color: var(--en-navy);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.7rem;
  overflow: hidden;
  padding: 1rem;
}

footer {
  grid-area: fut;
  padding-top: 1rem;
  border-radius: var(--main-radius);
  font-weight: 800;
  text-transform: capitalize;
  font-family: var(--en-a);
}

/* --- HEADER SECTION - CAROUSE --- */

ul {
  display: flex;
  grid-gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

ul li a {
  color: var(--en-txt);
  text-decoration: none;
}

ul li a:hover {
  color: var(--en-silver);
  text-transform: full-size-kana;
  text-decoration: underline;
}

/* --- MAIN-CARD SECTION --- */

.card {
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: "img""txt""sta";
  font-family: var(--ff-heading);
  font-weight: var(--fw-normal);
  line-height: 1.2;
  border-radius: 16px;
  background: #fff;
  box-shadow: 4px 4px 4px 4px rgba(250, 250, 250, 0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 1em;
}

.card-img {
  grid-area: img;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.a {
  background: url("../img/about/kaj1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.b {
  background: url("../img/about/kaj3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c {
  background: url("../img/about/kaj2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-txt {
  grid-area: txt;
  margin: 0.7rem;
}

.card-txt .date {
  color: var(--en-silver);
  font-size: 12px;
  margin-bottom: var(--main-margin);
}

.card-txt p {
  color: var(--en-k);
  font-size: 1rem;
  font-weight: normal;
}

.card-txt h2 {
  margin-top: 0px;
  padding: .7rem;
  font-size: 1.2rem;
  font-weight: bold;

}

.card-sta {
  grid-area: sta;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background: va(--en-f);
}

.card-sta .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem;
  color: var(--en-txt);
}

.card-sta .type {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card-sta .value {
  font-size: 1.2rem;
  font-weight: normal;
}

.card-sta .border {
  border-left: 1px solid var(--en-e);
  border-right: 1px solid var(--en-e);
}

.card-sta .value sup {
  font-size: 12px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.6);
}

/* --- FOOTER SECTION --- */
/* Sticks footer to bottom */

.ft-legal {
  padding-top: 1rem;
  font-size: 0.7rem;
  font-family: var(--ff-ena);
  font-weight: 800;
  color: var(--en-k);
  margin-bottom: var(--main-margin);
}

.fab {
  color: var(--en-txt);
}

.fab:hover {
  color: var(--en-silver);
  text-decoration: underline;
}

/* --- MEDIA GRID LAYOUT --- */

@media only screen and (max-width: 560px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr auto 0.4fr;
    grid-template-areas:
      "hed"
      "nav"
      "man"
      "fut";
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    font-size: 0.7rem;
    font-weight: 500;
    margin: 0 auto;
  }
}