:root {
    --bg-lg01: linear-gradient(to right,
            rgba(76, 199, 237, 1) 10%,
            rgba(255, 255, 255, 1) 50%,
            rgba(76, 199, 237, 1) 100%);

    --en-light: #fff;
    --enr-dark: #000;

    --en-txt: #3d6cb9;

    --en-f: #00d1ff;
    --en-g: #00fff0;
    --en-h: #fafaf6;
    --en-i: #088816;
    --en-k: #8A7878;

    --en-lime: #01FF70;
    --en-green: #2ECC40;
    --en-silver: #DDDDDD;
    --en-gold: #FFDC00;
    --en-navy: #001f3f;
    --en-blue: #0074D9;
    --en-aqua: #7FDBFF;
    --en-teal: #39CCCC;

    --ff-ena: 'Josefin Sans', sans-serif;
    --ff-enb: 'Marck Script', cursive;
    --ff-enc: 'Montserrat Alternates', sans-serif;
    --ff-en1: 'Open Sans', sans-serif;
    --ff-en2: 'Lato', sans-serif;
    --ff-en3: 'Montserrat', sans-serif;
    --ff-en4: 'Oswald', sans-serif;
    --ff-en5: 'Raleway', sans-serif;


    --main-margin: 5vh;
    --main-radius: 7px;
    --main-padding: 4px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--bg-lg01);
    font-family: var(--ff-en1);
}

h1 {
    text-transform: uppercase;
}

ul li {
    list-style: none;
}


/* --- GRID LAYOUT --- */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 1.7fr 1.2fr 0.8fr;
    grid-template-areas:
        "hed nav nav nav"
        "sec sec sec sec"
        "man man man man"
        "fut fut fut fut";
    grid-gap: 1rem;
    padding: 1em;
    margin: var(--main-margin);
    font-size: 1rem;
    color: var(--en-txt);
    text-align: center;
}

header {
    background: var(--en-h);
    grid-area: hed;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: var(--ff-en3);

}

.nav-bar {
    grid-area: nav;
    background: var(--en-h);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-transform: capitalize;
    font-family: var(--ff-ena);
    font-size: 1.2rem;
    font-weight: 900;
}

section {
    grid-area: sec;
    border-radius: var(--main-radius);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 0;
    text-transform: capitalize;
    font-family: var(--ff-enc);
    font-weight: 800;
    font-size: 1.1rem;
    color: var(--en-k);
}

main {
    grid-area: man;
    border-radius: var(--main-radius);
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

footer {
    grid-area: fut;
    border-radius: var(--main-radius);
    font-weight: 800;
    text-transform: capitalize;
    font-family: var(--en-a);
}

/* --- HEADER SECTION - CAROUSE --- */

ul {
    display: flex;
    grid-gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

ul li a {
    color: var(--en-txt);
    text-decoration: none;
}

ul li a:hover {
    color: var(--en-k);
    text-transform: full-size-kana;
    text-decoration: underline;

}

/* --- MAIN SECTION SLICK --- */

.swiper-container {
    width: 100%;

    padding-bottom: 70px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}



/* --- FOOTER SECTION --- */
/* Sticks footer to bottom */

.ft-legal {
    padding-top: 1.7rem;
    font-size: .7rem;
    font-family: var(--ff-ena);
    font-weight: 800;
    color: var(--en-txt);
    margin-bottom: var(--main-margin);
}

.fab {
    color: var(--en-k);
}

.fab:hover {
    color: var(--en-txt);
    text-decoration: underline;
}




/* --- MEDIA GRID LAYOUT --- */

@media only screen and (max-width: 560px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 1fr 0.4fr;
        grid-template-areas:
            "hed"
            "nav"
            "sec"
            "man"
            "fut";
        font-size: .8rem;
        font-weight: 600;
        margin: 0 auto;
    }


}

@media only screen and (max-width: 450px) {
    .container {
        font-size: .7rem;
        font-weight: 500;
        margin: 0 auto;
    }




}