:root {
  --bg-lg01: linear-gradient(to right,
      rgba(76, 199, 237, 1) 10%,
      rgba(255, 255, 255, 1) 50%,
      rgba(76, 199, 237, 1) 100%);

  --en-light: #fff;
  --enr-dark: #000;

  --en-txt: #3d6cb9;

  --en-f: #00d1ff;
  --en-g: #00fff0;
  --en-h: #fafaf6;
  --en-i: #088816;
  --en-k: #8A7878;

  --en-lime: #01FF70;
  --en-green: #2ECC40;
  --en-silver: #DDDDDD;
  --en-gold: #FFDC00;
  --en-navy: #001f3f;
  --en-blue: #0074D9;
  --en-aqua: #7FDBFF;
  --en-teal: #39CCCC;

  --ff-ena: 'Josefin Sans', sans-serif;
  --ff-enb: 'Marck Script', cursive;
  --ff-enc: 'Montserrat Alternates', sans-serif;
  --ff-en1: 'Open Sans', sans-serif;
  --ff-en2: 'Lato', sans-serif;
  --ff-en3: 'Montserrat', sans-serif;
  --ff-en4: 'Oswald', sans-serif;
  --ff-en5: 'Raleway', sans-serif;


  --main-margin: 5vh;
  --main-radius: 7px;
  --main-padding: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--bg-lg01);
  font-family: var(--ff-en1);
}

ul li {
  list-style: none;
}

/* --- GRID LAYOUT --- */
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.7fr 1.2fr 0.8fr;
  grid-template-areas:
    "hed nav nav nav"
    "sid sec sec sec"
    "sid man man man"
    "sid fut fut fut";
  grid-gap: 1rem;
  padding: 1em;
  margin: var(--main-margin);
  font-size: 1rem;
  color: var(--en-txt);
  text-align: center;
}

header {
  background: var(--en-h);
  grid-area: hed;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-family: var(--ff-en3);

}

.nav-bar {
  grid-area: nav;
  background: var(--en-h);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-transform: capitalize;
  font-family: var(--ff-ena);
  font-weight: 900;

}

aside {
  display: grid;
  writing-mode: vertical-lr;
  justify-content: center;
  align-items: center;
  background: var(--en-h);
  grid-area: sid;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-transform: capitalize;
  font-family: var(--ff-ena);
  font-size: 3rem;
  font-weight: 800;

}

section {
  grid-area: sec;
  border-radius: var(--main-radius);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 0;
  text-transform: capitalize;
  font-family: var(--ff-ena);
  font-weight: 800;
  color: var(--en-k);
}

main {
  grid-area: man;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  grid-area: fut;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 800;
  text-transform: capitalize;
  font-family: var(--en-a);
}



/* --- HEADER SECTION --- */

ul {
  display: flex;
  grid-gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

ul li a {
  color: var(--en-txt);
  text-decoration: none;
}

ul li a:hover {
  color: var(--en-k);
  text-transform: full-size-kana;
  text-decoration: underline;

}

/* --- MAIN SECTION --- */

#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.3rem;

}

#gallery .gallery-img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: var(--main-radius);
}

#gallery .img1 {
  background-image: url("../img/img3.jpg");
}

#gallery .img2 {
  background-image: url("../img/img6.jpg");
}

#gallery .img3 {
  background-image: url("../img/img8.jpg");
}

.gallery-img div {
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: var(--main-radius);
  background-color: var(--en-txt);
  opacity: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.gallery-img a {
  font-family: var(--ff-en3);
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.gallery-img div:hover {
  opacity: 0.8;
  transition: all ease-in-out 100ms;
}

/* --- FOOTER SECTION --- */
/* Sticks footer to bottom */

.ft-legal {
  padding-top: 1.7rem;
  font-size: .7rem;
  font-family: var(--ff-ena);
  font-weight: 800;
  color: var(--en-k);
  margin-bottom: var(--main-margin);
}

.fab {
  color: var(--en-k);
}

.fab:hover {
  color: var(--en-txt);
  text-decoration: underline;
}




/* --- MEDIA GRID LAYOUT --- */

@media only screen and (max-width: 560px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr auto minmax(600px, 1fr) autor .7fr;
    grid-template-areas:
      "hed"
      "nav"
      "sec"
      "man"
      "sid"
      "fut";
    font-size: .8rem;
    font-weight: 600;
    margin: 0 auto;
  }

  aside {
    writing-mode: horizontal-tb;
    font-size: 1rem;
  }

  #gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 0.3rem;
  }

  #gallery .gallery-img {
    height: 200px;

  }
}

@media only screen and (max-width: 450px) {
  .container {
    font-size: .7rem;
    font-weight: 500;
    margin: 0 auto;
  }

  #gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 0.1rem;
  }

  #gallery .gallery-img {
    height: 200px;

  }


}